/******************** Target #89 - Summit ********************/

<div class="f t"></div>
<div class=t></div>
<div class=c>
	<div class="t m"></div>
</div>
<body bgcolor=191919>
<style>
  div {
    position:absolute;
  }
  .c{
    top:50;
    left:100;
    background:#F9E492;
    border-radius:50%;
    width: 200;
    height: 200;
    overflow:hidden;
  }
  .t{
    left:60;
    border-bottom:140px solid #4F77FF;
    border-right:140px solid transparent;
    border-left:140px solid transparent;
	bottom:1;
    width:;
    height:0;
  }
  .f{
    bottom:0;
    left:59;
    width:2;
  }
    .m{
	border-bottom:140px solid #191919;
    bottom:-49;
    left:-40
  }
</style>

/******************** Target #90 - Eclipse ********************/

<p s1><p c><p s>
<body bgcolor=F3AC3C>
<style>
  p{
	position:absolute;
    background:#998235;
    width:400;
    height:400;
    top:134;
    left:0;
    border-radius: 50%
  }
  p[s1]{
    top:-266
  } 
  p[c]{
   background:#1A4341;
    border:25px solid #F3AC3C;
 	height:200;
    width:200;
    top:9;
    left:75
  }

/******************** Target #91 - Reflection ********************/
<p b>
<p c><p><p x><p y><p z>
<body bgcolor=D25B70>
<style>
  p{
    position:absolute;
	height:15;
    width:400;
   	left:0;
	top:133;
    background:#6CB3A9;
  }
  p[c]{
    top:34;
    left:100;
    border-radius:50%;
    background:#F6DF96;
    height:200;
    width:200;
  }
  p[b]{
	height:161;
	top:133;
  }
  p[x]{
    top:158;
  }
  p[y]{
    top:183;
  }
  p[z]{
    top:208;
  }
/******************** Target #92 - Squeeze ********************/

<div></div>
<div l></div>
<div r></div>
<div b></div>
<div c1></div>
<div c2></div>
<body bgcolor=6592CF>
<style>
  div{
    border-radius:50%;
    width:200;
    height:200;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#243D83
  }
  [l]{
    left:-26
  }
  [r]{
    left:426
  }
  [b]{
    height:50;
    width:400
  }
  [c1],[c2]{
    height:30;
    width:32;
    top:125;
    left:87;
    background:#6592CF;
    -webkit-box-reflect:right 194px
  }
  [c2]{
    top:175
  }
  </style>

/******************** Target #93 - Great Wall ********************/

/******************** Target #94 - Ripples ********************/

<div a></div>
<div b></div>
<div c></div>
<div d></div>
<div e></div>
<body bgcolor=0E2E2C>
<style>
  div {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
    border:20px solid #F3AC3C;
  }
  [a]{
    width:55;
    height:55;
    border:12px solid #F3AC3C
  }
  [b]{
    width:145;
    height:145;
    border:8px solid #F3AC3C
  }
  [c]{
    width:100;
    height:100;
    border:10px solid #998235
  }
  [d]{
    width:187;
    height:187;
    border:7px solid #F3AC3C
  }
  
/******************** Target #95 - Pokeball ********************/

/******************** Target #96 - Madala ********************/
