/******************** Target #97 - Snowman ********************/

<p b> <p h> <p e> <p n> <p s> <p t> <p r> <p w> 
  <body bgcolor=#AC474B>
<style>
  p {
  	position:absolute;
    top:50%;
    left:50%;
    background:#AC474B;
    transform:translate(-50%,-50%)
  }
  p[h],[e],[b]{
    border-radius:50%;
    background:#FFF;
	width:99;
    height:100;
    top:178
  }
  p[e]{
    background:#0E1F2B;
    width:10;
    height:10;
    top:101;
    left:190;
    -webkit-box-reflect:right 10px
  }
  p[h]{
    width:60;
    height:60;
    top:108
  }
  p[w],p[r],p[t]{
    background:#0E1F2B;
    height:10px;
    width:40;
    top:58.5px
  }
  p[t]{
    height:40
  }
  p[w]{
    background:#FFF
  }
  p[r]{
    height:5;
    width:60;
    top:81
  }
  p[s]{
    width:60;
    height:10;
    top:131.5px;
    border-radius:10px;
    background:#FFA63F;
  }
  p[n]{
    height:18;
    width:100;
    top:131.5;
  }
</style>

/******************** Target #98 -  ********************/

/******************** Target #99 -  ********************/

/******************** Target #100 -  ********************/
