/******************** Target #46 - Magical Tree ********************/



/******************** Target #46 - Mountains ********************/

<div class="c">
	<div class="r1"></div>
	<div class="r2"></div>
<style>
  body{
    background:#293462;
  }
  div {
    position:absolute;
   	background:#FE5F55;
    height:200;
    width:200;
  }
  .c{
    border-radius:50%;
    background:#FFF1C1;
    top:50;
    left:100;
    overflow:hidden;
  }
  .r1,.r2{
	transform:rotate(45deg);
  }
  .r1{
    left:42;
    top:100
  }
  .r2{
    left:-70;
    top:170;
  }
</style>
