/*********** Target #21 - SitePoint Logo ***********/

<div>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<style>
  body{
    background:#222
  }
  span{
    position:absolute;
    background:#F2994A;
  }
  div {
	position:absolute;
    width:82;
    height:130;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(-45deg);
  }
  span:nth-of-type(1){
	top:0;
    left:0;
    height:30;
    width:100;
    border-radius: 10px 0 0 0;
  }
    span:nth-of-type(2){
	top:0;
    left:0;
    height:80;
    width:30;
    border-radius:10px 0 5px 0;
  }
  span:nth-of-type(3){
	right:0;
    bottom:0;
    height:30;
    width:100;
    background:#2D9CDB;
    border-radius: 0 0 10px 0;

  }
    span:nth-of-type(4){
	bottom:0;
    right:0;
    height:80;
    width:30;
    background:#2D9CDB;
    border-radius:5px 0 10px 0;
  }  
</style>

/*********** Target #22 - Cloud ***********/

<div></div>
<div class=c></div>
<div class=r></div>

<style>
  body{
    background:#F5D6B4
  }
  div{
    position:absolute;
    width: 100;
    height: 100;
    border-radius:50%;
    background:#D86F45;
    top:115;
    left:100;
  }
  .c{
    top:85;
    left:180; 
  }
  .r{
    top:165;
    left:150; 
    border-radius:0 50px 50px 0;
    height:50;
    width:150;
  }
</style>

/*********** Target #23 - Boxception ***********/

<div></div>
<div></div>
<div></div>
<style>
  body{
    background:#F3AC3C;
  }
  div{
    position:absolute;
    left:100;
    background:#1A4341
  }
  div:nth-of-type(1){
    top:50;
    height:200;
    width:200;
  }
    div:nth-of-type(2){
    top:150;
    height:100;
    width:100;
    background:#998235;
  }
    div:nth-of-type(3){
    top:200;
    left:150;
    height:50;
    width:50;
    background:#F3AC3C;
  }
</style>

/*********** Target #24 - Switches ***********/

<div class= b1></div>
<div class= b2></div>
<div class= "c1 c"></div>
<div class= "c2 c"></div>
<style>
  body{
    background:#62306D;
  }
  div {
	position:absolute;
    height:100;
    width:100;
  }
  .c{
    border-radius:50%;
    background:#F7EC7D;
    top:100;
    left:80;
  }
  .c2{
    left:220
  }
  .b2{
  	border-radius: 0 0 150px 150px;
  	background:#E38F66;
    left:220;
    top:150;
  }
  .b1{
   	border-radius: 150px 150px 0 0;
  	background:#AA445F; 
    left:80;
    top:50;
  }
  
</style>

/*********** Target #25 - Blossom ***********/

<div class="l a"></div>
<div class="s a"></div>
<div class="y s b"></div>
<div class="z l b"></div>
<style>
  body{
    background:#998235;
  }
  div {
    position:absolute;
    width:80;
  }
  .s{
    background:#F3AC3C;
    height:60;
    top:180;
  }
  .l{
    background:#1A4341;
    height:100;
    top:60;
  }
  .a{
    border-radius: 0 50px 0 50px;
    left:110;
;
  }
  .b{ 
    border-radius: 50px 0 50px 0;
    left:210;
  }
  .z{
    top:140;
  }
  .y{
    top:60;
  }
</style>

/*********** Target #26 - Smiley ***********/

<div></div>
<div class="b2"></div>
<div class="b3"></div>
<style>
  body{
    background:#6592CF;
  }
  div {
    width:80;
    top:40;
    left:40;
    border:20px solid #060F55;
    border-radius:100px 100px 0 0;
    border-bottom:0;
    position:absolute;
    height:40;
  }
  .b2{
   left:240;
  }
  .b3{
   left:140;
   transform:rotate(180deg);
   top:200;
  }
</style>

/*********** Target #27 - Lock Up ***********/

<div>
<div class=s1></div>
<div class=s2></div>
</div>
<style>
  body{
    background:#E38F66;
  }
  div{
    left:100;
    top:50;
    position:absolute;
    border-radius:50%;
    width: 200;
    height: 200;
    background: #AA445F;
  }
  .s1,.s2{
    width:40;
    height:40;
    top:30;
    border:30px solid #F7EC7D;
    border-left:0;
    border-bottom:0;
    border-radius:0 150px 0 0;
  }
  .s2{
    transform:rotate(180deg);
    left:30;
    top:100
  }
</style>

/*********** Target #28 - Cups and Balls ***********/

<div class="k r1"></div>
<div class="d l r2"></div>
<div class="d k r3"></div>
<div class="l r4"></div>
<div class="u l b r1"></div>
<div class="k b r2"></div>
<div class="l b r3"></div>
<div class="u k b r4"></div>
<style>
  body{
    background:#1A4341;
  }
  .b{
    top:160
  }
  div {
    top:90;
	position:absolute;
    width:50;
    height:50;
    border-radius:50%;
  }
  .k{
    background:#998235;
  }
  .l{
    background:#F3AC3C;
  }
  .r1{
   left:70;
  }
  .r2{
   left:140; 
  }
  .r3{
    left:210;
  }
  .r4{
    left:280;
  }
  .u{
    border-radius: 0 0 150px 150px
  }
  .d{
    border-radius: 150px 150px 0 0
  }
  
</style>