/******************** Target #109 - Curtain ********************/

<p>
<body bgcolor=191919>
<style>
  p {
    color:#F6E59C;
	border-radius:50%;
    width:40;
    height:40;
    margin:20 12;
    background:#F6E59C;
	box-shadow:60px 0,120px 0,180px 0,0 60px,0 120px,0 180px, 60px 60px,120px 60px,60px 120px
  }
</style>


/******************** Target #110 - Sunrays ********************/

<div id=a></div>
<div id=b></div>
<div id=c></div>
<div id=d></div>
<div id=e></div>
<div id=f></div>

<body bgcolor=D25B70>
<style>
  div {
    color:#F2E09F;
    position:absolute;
    width: 100;
    border-radius: 9px;
    height: 10;
    background: #F2E09F;
    top:195px;
    left:80px;
  }
  #a{
   box-shadow: 140px 0 0;
  }
  #b,#e{
    top:160;
    left:90;
    height:10;
    transform: rotate(30deg);
  }
  #c,#f{
    top:134;
    left:115;
    height:10;
    transform: rotate(60deg);
  }
  #d{
    top:125;
    left:150;
    width:99;
    height:10.5px;
    transform: rotate(90deg);
  }
  #e{
    left:210;
    transform: rotate(-30deg);
  }
  #f{
    left:185;
    transform: rotate(-60deg);
  }
</style>

/******************** Target #111 - ********************

/******************** Target #112 - ********************/

/******************** Target #113 - ********************

/******************** Target #114 - ********************/

/******************** Target #115 - ********************

/******************** Target #116 - ********************/