/******************** Target #133 - Spiral ********************/

/******************** Target #134 - Wig ********************/

<div></div>
<body bgcolor=62306D></body>
<style>
  div{
    position:fixed;
    top:70;
    left:120;
    width:80;
    height:160;
    background:#F7EC7D;
    border-radius:99q 0 50q;
    -webkit-box-reflect:right;
  }
</style>


/******************** Target #135 -  ********************/

/******************** Target #136 -  ********************/

/******************** Target #137 -  ********************/

/******************** Target #138 -  ********************/

/******************** Target #139 -  ********************/

/******************** Target #140 -  ********************/
